<app-header></app-header>

<div class="columns is-centered align-content-center" style="display: block; width: 600px; margin: auto">
  <label for="date" class="label" style="text-align: left">Date</label>
  <input id="date" type="date" class="input" required [(ngModel)]="date" name="date" style="width: 200px">
  <button (click)="onclick()" class="btn-primary" style="display: block; margin-top: 10px; width: 200px">Show</button>
</div>
<div *ngIf="users" class="columns is-centered" style="display: block; margin: auto; width: 600px">
  <h1 class="table-info" style="margin-top: 30px; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 24px;
   font-weight: 400; text-align: center">
    List of employees on Holiday on {{date}}</h1>
  <div *ngIf="isEmptyList" style="text-align: center">No employees on holiday to show</div>
  <div *ngIf="!isEmptyList" class="container">
    <table class="global-table">
      <thead>
      <tr>
        <th>User Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td *ngIf="user != null">{{user.id}}</td>
        <td *ngIf="user != null">{{user.firstname}}</td>
        <td *ngIf="user != null">{{user.lastname}}</td>
        <td *ngIf="user != null">{{user.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

