<app-header></app-header>

<div class="columns is-centered has-text-centered has-text-grey-darker">
  <h1 class="title" style="margin-top: 50px; margin-bottom: 30px">List of all Customers</h1>
</div>
<div class="container">

  <div *ngIf="user">
    <table class="global-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Projects</th>
        <th *ngIf="isAdminLoggedIn">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let c of customers">
        <td> {{c.id}}</td>
        <td> {{c.name}}</td>
        <td> {{c.address}}</td>
        <td>
          <ul>
            <li *ngFor="let project of c.projects">
              {{project.id}}, {{project.title}}, {{project.start}}, {{project.end}}
            </li>
          </ul>
        </td>
        <td *ngIf="isAdminLoggedIn">
          <button class="btn-primary">Add Project</button>
          <button class="btn-info" (click)="getCustomerById(c.id)" (click)="open(updateCustomer)">Update</button>
          <button class="btn-danger" (click)="onClickDelete(c.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



<ng-template #updateCustomer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Update Customer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="toUpdateCustomer">
    <form method="post"  (ngSubmit)="onClickUpdate()">
      <div class="mb-3">
        <label for="id">Id:</label>
        <input type="text" readonly id="id" class="form-control" [(ngModel)]="toUpdateCustomer.id" name="id">
        <label for="name">Name:</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="toUpdateCustomer.name" name="name">
        <label for="address">Address:</label>
        <input id="address" type="text" class="form-control" [(ngModel)]="toUpdateCustomer.address" name="address">
      </div>
      <div>
        <input type="submit" value="Update" class="btn btn-primary" (click)="modal.close()" style="float:left;">
        <input type="button" value="Cancel" class="btn btn-primary" (click)="modal.close()" style="float: right">
      </div>
    </form>
  </div>
</ng-template>

