<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--<div class="navbar is-black">-->


<!--  <div class="navbar-brand">-->
<!--    <a class="navbar-item" routerLinkActive="active" routerLink="/home">-->
<!--      <img src="assets/image/haeger-logo-invert.png" alt="haeger-logo">-->
<!--    </a>-->
<!--    <a routerLinkActive="active" routerLink="/test" class="navbar-item has-text-centered">Time Table</a>-->
<!--    <a routerLinkActive="active" routerLink="/home" class="navbar-item has-text-centered">Project</a>-->
<!--    <a routerLinkActive="active" routerLink="/home" class="navbar-item has-text-centered">Customer</a>-->



<!--    <div *ngIf="isUserLoggedIn" class="navbar-item has-dropdown is-hoverable">-->
<!--      <a class="navbar-link">-->
<!--        Users-->
<!--      </a>-->

<!--      <div class="navbar-dropdown">-->
<!--        <a routerLinkActive="active" routerLink="/users" class="navbar-item">-->
<!--          All Users-->
<!--        </a>-->
<!--        <a routerLinkActive="active" routerLink="/current-user-update" class="navbar-item">-->
<!--          Update My Account-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->



<!--  <div class="navbar-end">-->
<!--    <a *ngIf="!isUserLoggedIn" routerLinkActive="active" routerLink="/login"-->
<!--       class="navbar-item has-text-centered">Login</a>-->
<!--    <a *ngIf="isUserLoggedIn" routerLinkActive="active" routerLink="/profile" class="navbar-item has-text-centered">Profile</a>-->
<!--    <a *ngIf="isUserLoggedIn" routerLinkActive="active" routerLink="/home" class="navbar-item has-text-centered"-->
<!--       (click)="logout()">Logout</a>-->
<!--  </div>-->



<!--</div>-->
<app-header></app-header>
